.player-wrapper {
  position: relative;
  padding-top: 30%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 700px) {
  .player-wrapper {
    padding-top: 70%;
  }
}
